<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Kino</title>
</head>
<body>
    <div th:fragment="mainMenu">
        <a href="/profile"><button>Profil</button></a>
        <span sec:authorize="hasRole('ROLE_USER')">
            <button>Seanse</button>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/add-movie"><button>Dodaj film</button></a>
            <a href="/halls"><button>Sale</button></a>
        </span>
        <br><br>
        <form th:action="@{/out}" method="post">
            <input type="submit" value="Wyloguj się">
        </form>
    </div>
</body>
</html>