<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Repertuar</title>
    <link href="/webjars/materializecss/1.0.0/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,prjection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="row">
    <div th:replace="main.html :: mainMenu">
    </div>

    <h2 class="indigo-text center">Repertuar</h2>
    <div class="green-text center" th:if="${param.added}">Film został dodany</div>
    <div class="green-text center" th:if="${param.deleted}">Film został usunięty</div>

    <div class="col m8 s12 offset-m2">
        <ul class="tabs">
            <li class="tab col s6"><a href="#listByMovies">Według filmów</a></li>
            <li class="tab col s6"><a href="#listByDates">Według daty</a></li>
        </ul>
    </div>

    <div id="listByMovies">

    <form th:action="@{/search-movies}" method="post" class="col m8 s12 offset-m2">
        <div class="row s12">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">search</i>
                <input id="search" name="search" type="text" class="validate" th:value="${search}"/>
                <label for="search">Wpisz szukany tytuł</label>
            </div>
        </div>
    </form>

    <div class="col m8 s12 offset-m2">
        <ul class="collection">
            <li class="collection-item" th:each="movie : ${movies}">
                <div class="row">
                    <div class="col s4">
                        <h5 class="indigo-text" th:text="${movie.title} + '(' + ${movie.productionYear} + ')'">Tytuł filmu</h5>
                        <p>
                            <span th:text="${movie.genre.getDisplayName()} + ', '">Gatunek</span>
                            <span th:text="${movie.lengthMinutes} + 'min'">Długość filmu</span>
                        </p>
                    </div>
                    <div class="col s4" th:with="byDateClassifier=${movieDateShowingClassifier.getSecondLevelClassifier(movie)}">
                        <div th:if="${byDateClassifier}">
                            <h5 class="indigo-text">Najbliższe seanse:</h5>
                            <p th:each="date : ${byDateClassifier.getFirstNKeys(3)}">
                                <a th:href="@{/showing/{id}(id=${byDateClassifier.getShowingsByKey(date).get(0).id})}">
                                    <span th:text="${date}">Data seansu</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col s4">
                        <form th:action="@{/movie/{id}(id=${movie.id})}" th:method="get" class="secondary-content center">
                            <button class="btn teal" type="submit">Szczegóły
                                <i class="material-icons right">description</i>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    </div>

    <div id="listByDates">

        <form th:action="@{/search-movies}" method="post" class="col m8 s12 offset-m2">
            <div class="row s12">
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">search</i>
                    <input id="search1" name="search" type="text" class="validate" th:value="${search}"/>
                    <label for="search1">Wpisz szukany tytuł</label>
                </div>
            </div>
            <div class="row s12">
                <div class="input-field col s3 offset-s3">
                    <select id="sort" name="sort">
                        <option th:each="sortType : ${sortTypes}" th:value="${sortType.ordinal()}"
                                th:text="${sortType.getDisplayName()}"
                                th:selected="${sort == sortType.ordinal()}">
                        </option>
                    </select>
                    <label for="sort">Sortuj według</label>
                </div>
                <div class="col s3">
                    <br>
                    <button class="btn teal secondary-content" type="submit">Zatwierdź
                    </button>
                </div>
            </div>
        </form>

    <div class="col m8 s12 offset-m2">
        <div th:each="date : ${dateShowingClassifier.getDates()}">
            <h5 class="indigo-text" th:text="${date + ''}">Data seansów</h5>
            <div class="row" th:each="showing : ${dateShowingClassifier.getShowingsByDate(date)}">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s4">
                                    <h5 class="indigo-text" th:text="${showing.movie.title} + '(' + ${showing.movie.productionYear} + ')'">Tytuł filmu</h5>
                                </div>
                                <div class="col s4">
                                    <h5 class="indigo-text" th:text="${showing.movie.genre.getDisplayName()} + ', ' + ${showing.movie.lengthMinutes} + 'min'">
                                        Gatunek i długość filmu
                                    </h5>
                                </div>
                                <div class="col s4">
                                    <h5 class="indigo-text secondary-content"
                                        th:text="${showing.showingDate.toLocalTime()}">Godzina seansu</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/movie/{id}(id=${showing.movie.id})}">Informacje o filmie</a>
                            <a th:href="@{/showing/{id}(id=${showing.id})}">Kup bilet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="center" sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/add-movie">
        <button class="btn teal">Dodaj film
            <i class="material-icons left">add</i>
        </button>
    </a>
</div>
<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
</body>
</html>