<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
    <div th:replace="main.html :: mainMenu">
    </div>
    <br><br>
    <table border="1">
        <tr>
            <td>Imię:</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Nazwisko:</td>
            <td th:text="${user.surname}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>Data urodzenia:</td>
            <td th:text="${user.dateOfBirth}"></td>
        </tr>
    </table>
    <span sec:authorize="hasRole('ROLE_USER')">
        <br>
        <a href="/edit-user"><button>Edytuj dane</button></a>
        <br><br>
        <form th:action="@{/delete-user}" method="post">
            <input type="submit" value="Usuń konto">
        </form>
    </span>
</body>
</html>