<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link href="/webjars/materializecss/1.0.0/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,prjection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col m8 s12 offset-m2">

     <h2 class="indigo-text">Rejestracja</h2>

    <form action="#" th:action="@{/register}" th:object="${userForm}" method="post">
        <div th:fragment="editableData">
            <div class="row">
                <div class="input-field col s6">
                    <input th:field="*{name}" id="name" type="text" th:errorclass="invalid"/>
                    <label for="name">Imię</label>
                    <div th:errors="*{name}" class="red-text">Błąd</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input th:field="*{surname}" id="surname" type="text" th:errorclass="invalid"/>
                    <label for="surname">Nazwisko</label>
                    <div th:errors="*{surname}" class="red-text">Błąd</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input th:field="*{dateOfBirth}" id="dateOfBirth" type="date" th:errorclass="invalid"/>
                    <label for="dateOfBirth">Data urodzenia</label>
                    <div th:errors="*{dateOfBirth}" class="red-text">Błąd</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{email}" id="email" type="text" th:errorclass="invalid"/>
                <label for="email">Email</label>
                <div th:errors="*{email}" class="red-text">Błąd</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{password}" id="password" type="password" th:errorclass="invalid"/>
                <label for="password">Hasło</label>
                <div th:errors="*{password}" class="red-text">Błąd</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{matchingPassword}" id="matchingPassword" type="password" th:errorclass="invalid"/>
                <label for="matchingPassword">Powtórz hasło</label>
                <div th:errors="*{global}" class="red-text">Błąd</div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit">Zatwierdź
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <a href="/login">Zaloguj się</a>

    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
</body>
</html>